<div ng-if="!base.isAuthenticated">
    <h1>TODO</h1>
    <p>
        Login to save your todos.
    </p>
    <button type="button" ng-hide="base.isAuthenticated" ng-click="base.login('twitter')">Login With Twitter</button>
    <button type="button" ng-hide="base.isAuthenticated" ng-click="base.login('google')">Login With Google</button>
    <button type="button" ng-hide="base.isAuthenticated" ng-click="base.login('facebook')">Login With Facebook</button>
</div>

<div ng-if="base.isAuthenticated" ng-controller="TodoCtrl as todo">
    <section class="card col-5-contain block-center">
        <h1>Todos</h1>

        <form name="todoForm" ng-submit="todo.submit(todoForm.$valid)" novalidate>
            <input type="text" name="name" ng-model="todo.input" required>
            <button type="submit" ng-disabled="todoForm.$invalid">Add</button>
        </form>

        <todo-items items="todo.todos"></todo-items>
    </section>
</div>