<ul class="todo-list">
    <li ng-repeat="todo in vm.items" class="todo-list__item repeat-animation" ng-swipe-left="vm.removeTodo($index)"
        ng-swipe-right="vm.removeTodo($index)">
        <form ng-show="editingTodo" ng-submit="editingTodo = !editingTodo" class="input-group" novalidate>
            <input type="text" ng-model="todo.value" ng-change="vm.saveTodo(todo)"/>
            <button type="submit">Save</button>
        </form>

        <div ng-hide="editingTodo">
            <div ng-click="editingTodo = !editingTodo">{{todo.value}}</div>
            <button ng-click="vm.removeTodo($index)" class="todo-list__close-btn">x</button>
        </div>
    </li>
</ul>